<footer class=" text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="mb-4">Deep Guard</h2>
        <div class="social-icons">
          <a href="#"><img src="path/to/facebook-icon.png" alt="Facebook" /></a>
          <a href="#"><img src="path/to/linkedin-icon.png" alt="LinkedIn" /></a>
          <a href="#"><img src="icons/instagram-icon.png" alt="Instagram" /></a>
          <a href="#"><img src="path/to/youtube-icon.png" alt="YouTube" /></a>
        </div>
      </div>
      <div class="col-md-1 d-flex align-items-center">
        <div class="vr"></div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <h6 class="mb-3">Explore</h6>
            <ul class="list-unstyled footer-links">
              <li><a href="#" class="text-white">Home</a></li>
              <li><a href="#" class="text-white">Services</a></li>
              <li><a href="#" class="text-white">About</a></li>
              <li><a href="#" class="text-white">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="mb-3">Information</h6>
            <ul class="list-unstyled footer-links">
              <li><a href="#" class="text-white">FAQs</a></li>
              <li><a href="#" class="text-white">Privacy Policy</a></li>
              <li><a href="#" class="text-white">Terms of Use</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="mb-3">Contact Us</h6>
            <p class="mb-2">Email: deepguard@gmail.com</p>
            <p>Phone: +91 9xxxxxxxx</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4 mb-3" style="border-color: rgba(255, 255, 255, 0.2);">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; 2024 Deep Guard. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
