<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>

<div class="container-xxl">You can start using extension now</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
