<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>

<div class="container-xxl">
  <div class="row">
    <!-- Left section with features -->
    <div class="col-md-6 my-auto">
      <h2>
        Ensure the authenticity of your photos with our cutting-edge technology.
      </h2>
      <ul>
        <li>Efficiency</li>
        <li>Secure and Private</li>
        <li>Free of cost</li>
      </ul>
    </div>
    <!-- Right section  -->
    <div class="col-md-6 d-flex justify-content-center">
      <div class="upload-section p-4 text-center">
        <h3>Detect your images in seconds with use of powerful tools</h3>
        <form action="/predict" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <input
              type="file"
              name="image"
              id="formFileLg"
              class="form-control form-control-lg mb-3"
            />
            <button type="submit" class="btn btn-primary upload-button">
              Upload
            </button>
          </div>
        </form>
        <p class="mt-2">Supported formats: JPEG, PNG</p>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
